apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tpch.fullname" . }}
  labels:
    {{- include "tpch.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "tpch.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "tpch.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "tpch.serviceAccountName" . }}
      volumes:
        - name: tpch-config
          secret:
            secretName: {{ .Values.tpchSecret }}
            defaultMode: 0400
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            - mountPath: /opt/tpch/TPC-H_Tools_v3.0.0/dbgen/config.yaml
              name: tpch-config
              readOnly: true
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}