meta.depth.list:
  - 1
  - 100
  - 10000
  - 1000000
meta.num:
  - 10
  - 100
  - 1000
  - 10000

micro.test.depth.list:
  - 1
  - 3
  - 9
  - 27
micro.test.batch.size.list:
  - 1k
  - 4k
  - 8k
  - 32k
  - 64k
micro.test.job.nums: 8
micro.test.time: 60

spring.datasource.url: jdbc:mysql://192.168.123.44:3306/
spring.datasource.username: root
spring.datasource.password: 9ndYiNnlmG
spring.datasource.driver-class-name: com.mysql.jdbc.Driver'
tpch.test.num: 3
tpch.test.database.size.list:
  - 1
  - 2
  - 3
tpch.test.sql.list:
  - select l_returnflag, l_linestatus, sum(l_quantity) as sum_qty, sum(l_extendedprice) as sum_base_price, sum(l_extendedprice * (1 - l_discount)) as sum_disc_price, sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge, avg(l_quantity) as avg_qty, avg(l_extendedprice) as avg_price, avg(l_discount) as avg_disc, count(*) as count_order from lineitem where l_shipdate <= date'1998-12-01' - interval '90' day group by l_returnflag, l_linestatus order by l_returnflag, l_linestatus';
  - select l_returnflag, l_linestatus, sum(l_quantity) as sum_qty, sum(l_extendedprice) as sum_base_price, sum(l_extendedprice * (1 - l_discount)) as sum_disc_price, sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge, avg(l_quantity) as avg_qty, avg(l_extendedprice) as avg_price, avg(l_discount) as avg_disc, count(*) as count_order from lineitem where l_shipdate <= date'1998-12-01' - interval '90' day group by l_returnflag, l_linestatus order by l_returnflag, l_linestatus';