environment: LVM
spring.datasource.url: jdbc:mysql://10.0.2.15:3306/test
spring.datasource.username: root
spring.datasource.password: SEjkRknUmE
spring.datasource.driver-class-name: com.mysql.jdbc.Driver

meta.depth.list:
  - 1
  - 100
meta.num:
  - 10
  - 100

micro.test.depth.list:
  - 1
  - 3
micro.test.batch.size.list:
  - 1
  - 4
micro.test.file.size.list:
  - 1
  - 10
micro.test.job.nums: 8
micro.test.time: 60

spring.datasource.tpchtest.jdbc-url: jdbc:mysql://10.0.2.15:3306/
spring.datasource.tpchtest.username: root
spring.datasource.tpchtest.password: SEjkRknUmE
spring.datasource.tpchtest.driver-class-name: com.mysql.jdbc.Driver
tpch.test.num: 3
tpch.test.database.size.list:
  - 1
  - 2
tpch.test.sql.list:
  - select l_returnflag, l_linestatus, sum(l_quantity) as sum_qty, sum(l_extendedprice) as sum_base_price, sum(l_extendedprice * (1 - l_discount)) as sum_disc_price, sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge, avg(l_quantity) as avg_qty, avg(l_extendedprice) as avg_price, avg(l_discount) as avg_disc, count(*) as count_order from lineitem where l_shipdate <= date'1998-12-01' - interval '90' day group by l_returnflag, l_linestatus order by l_returnflag, l_linestatus;